{
  "openapi": "3.0.0",
  "info": {
    "title": "Catalog API",
    "version": "1.0.0"
  },
  "paths": {
    "/v1/auth/otp/send": {
      "post": {
        "summary": "Initiate passwordless auth",
        "description": "Initiates passwordless login using email using OTP code",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "useremail@domain.com"
                  }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid email"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Too many OTP requests. Please try again later."
                    },
                    "retry_after": {
                      "type": "integer",
                      "description": "Number of seconds to wait before retrying",
                      "example": 60
                    },
                    "rate_limit_reset": {
                      "type": "string",
                      "format": "date-time",
                      "description": "When the rate limit will reset",
                      "example": "2025-01-14T12:00:00Z"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/auth/otp/verify": {
      "post": {
        "summary": "Authenticate with OTP code",
        "description": "Authenticates user with email and OTP code for passwordless login",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "user@example.com"
                  },
                  "code": {
                    "type": "string",
                    "description": "6-digit OTP code",
                    "example": "123456"
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["login-or-sign-up"],
                    "example": "login-or-sign-up"
                  }
                },
                "required": ["email", "code", "mode"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "did:catalog:cmcvh61po02lul70mgjj4kq21"
                        },
                        "created_at": {
                          "type": "integer",
                          "example": 1752036285
                        },
                        "linked_accounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "email"
                              },
                              "address": {
                                "type": "string",
                                "example": "user@example.com"
                              },
                              "verified_at": {
                                "type": "integer",
                                "example": 1752036285
                              },
                              "first_verified_at": {
                                "type": "integer",
                                "example": 1752036285
                              },
                              "latest_verified_at": {
                                "type": "integer",
                                "example": 1753333327
                              }
                            }
                          }
                        },
                        "mfa_methods": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "has_accepted_terms": {
                          "type": "boolean",
                          "example": true
                        },
                        "is_guest": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    },
                    "token": {
                      "type": "string",
                      "description": "JWT token for authentication"
                    },
                    "catalog_access_token": {
                      "type": "string",
                      "description": "catalog access token"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "Refresh token for token renewal"
                    },
                    "session_update_action": {
                      "type": "string",
                      "example": "set"
                    },
                    "is_new_user": {
                      "type": "boolean",
                      "description": "Whether this is a new user registration",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid OTP code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Code is expired"
                    },
                    "code": {
                      "type": "string",
                      "example": "invalid_data"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid OTP code"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Too many authentication attempts. Please try again later."
                    },
                    "retry_after": {
                      "type": "integer",
                      "description": "Number of seconds to wait before retrying",
                      "example": 60
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "summary": "Refresh session",
        "description": "Refreshes the user session using a refresh token",
        "tags": ["Auth"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string",
                    "description": "Refresh token for session renewal",
                    "example": "ncqbUutBJFEjL--XkzdvaYeF6f-LCSr-Wm9toyj3AhoaEOwGKQl2qMPJzItQWMA_ZXsOesAjSdYp49YvjcVPWg"
                  }
                },
                "required": ["refresh_token"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session refreshed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "did:catalog:cmcvh61po02lul70mgjj4kq21"
                        },
                        "created_at": {
                          "type": "integer",
                          "example": 1752036285
                        },
                        "linked_accounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "email"
                              },
                              "address": {
                                "type": "string",
                                "example": "utkarshmishra2001@gmail.com"
                              },
                              "verified_at": {
                                "type": "integer",
                                "example": 1752036285
                              },
                              "first_verified_at": {
                                "type": "integer",
                                "example": 1752036285
                              },
                              "latest_verified_at": {
                                "type": "integer",
                                "example": 1753421515
                              }
                            }
                          }
                        },
                        "mfa_methods": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "has_accepted_terms": {
                          "type": "boolean",
                          "example": true
                        },
                        "is_guest": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    },
                    "token": {
                      "type": "string",
                      "description": "New JWT token for authentication"
                    },
                    "catalog_access_token": {
                      "type": "string",
                      "description": "New catalog access token"
                    },
                    "refresh_token": {
                      "type": "string",
                      "description": "New refresh token for future renewals"
                    },
                    "session_update_action": {
                      "type": "string",
                      "example": "ignore"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid refresh token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Refresh token expired"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Too many session refresh attempts. Please try again later."
                    },
                    "retry_after": {
                      "type": "integer",
                      "description": "Number of seconds to wait before retrying",
                      "example": 60
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "security": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}/users/count": {
      "get": {
        "summary": "Get app user count",
        "description": "Retrieves the current user count and user limit for a specific app",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "responses": {
          "200": {
            "description": "User count retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_count": {
                      "type": "integer",
                      "description": "Current number of users in the app",
                      "example": 0
                    },
                    "user_limit": {
                      "type": "integer",
                      "description": "Maximum number of users allowed for the app",
                      "example": 150
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "App not found"
                    },
                    "code": {
                      "type": "string",
                      "example": "missing_or_invalid_catalog_app_id"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}/secret": {
      "get": {
        "summary": "Get app secrets - Related to app/configuration/settings (basic)",
        "description": "Retrieves app secrets/clients for a specific app. Related to app/configuration/settings (basic)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "responses": {
          "200": {
            "description": "App secrets retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Secret/client ID",
                            "example": "dqwbst7cm3x90f46b7ax1yjj"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the secret was created",
                            "example": "2025-07-14T12:05:29.788Z"
                          },
                          "last_four": {
                            "type": "string",
                            "description": "Last four characters of the secret",
                            "example": "KCVQ"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "App not found"
                    },
                    "code": {
                      "type": "string",
                      "example": "missing_or_invalid_catalog_app_id"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}/domains": {
      "get": {
        "summary": "Get app domain configuration - Related to app/configuration/settings (domains)",
        "description": "Retrieves domain configuration for a specific app. Related to app/configuration/settings (domains)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain configuration retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Domain configuration status",
                      "example": "pending"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether domain configuration is enabled",
                      "example": true
                    },
                    "base_cookie_domain": {
                      "type": "string",
                      "description": "Base cookie domain",
                      "example": "hashira.io"
                    },
                    "cookie_same_site_lax": {
                      "type": "boolean",
                      "description": "Whether to use SameSite=Lax for cookies",
                      "example": false
                    },
                    "custom_api_url": {
                      "type": "string",
                      "nullable": true,
                      "description": "Custom API URL",
                      "example": null
                    },
                    "cname_record": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "CNAME record status",
                          "example": "pending"
                        },
                        "type": {
                          "type": "string",
                          "description": "DNS record type",
                          "example": "CNAME"
                        },
                        "name": {
                          "type": "string",
                          "description": "DNS record name",
                          "example": "privy"
                        },
                        "value": {
                          "type": "string",
                          "description": "DNS record value",
                          "example": "cmcx1p0y50315i80ldhmlcnmm.api.privy.systems"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "App not found"
                    },
                    "code": {
                      "type": "string",
                      "example": "missing_or_invalid_catalog_app_id"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      },
      "put": {
        "summary": "Update app domain configuration - Related to app/configuration/settings (domains)",
        "description": "Updates domain configuration for a specific app. Used for enabling/disabling httponly cookies and other domain settings. Related to app/configuration/settings (domains)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cookie_domain": {
                    "type": "string",
                    "description": "Cookie domain to configure",
                    "example": "hashira.io"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether to enable domain configuration",
                    "example": false
                  },
                  "cookie_same_site_lax": {
                    "type": "boolean",
                    "description": "Whether to use SameSite=Lax for cookies",
                    "example": false
                  }
                },
                "required": ["cookie_domain", "enabled", "cookie_same_site_lax"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain configuration updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Domain configuration status",
                      "example": "pending"
                    },
                    "enabled": {
                      "type": "boolean",
                      "description": "Whether domain configuration is enabled",
                      "example": false
                    },
                    "base_cookie_domain": {
                      "type": "string",
                      "description": "Base cookie domain",
                      "example": "hashira.io"
                    },
                    "cookie_same_site_lax": {
                      "type": "boolean",
                      "description": "Whether to use SameSite=Lax for cookies",
                      "example": false
                    },
                    "custom_api_url": {
                      "type": "string",
                      "nullable": true,
                      "description": "Custom API URL",
                      "example": null
                    },
                    "cname_record": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "description": "CNAME record status",
                          "example": "pending"
                        },
                        "type": {
                          "type": "string",
                          "description": "DNS record type",
                          "example": "CNAME"
                        },
                        "name": {
                          "type": "string",
                          "description": "DNS record name",
                          "example": "privy"
                        },
                        "value": {
                          "type": "string",
                          "description": "DNS record value",
                          "example": "cmcx1p0y50315i80ldhmlcnmm.api.privy.systems"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid domain configuration"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "App not found"
                    },
                    "code": {
                      "type": "string",
                      "example": "missing_or_invalid_catalog_app_id"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/accounts": {
      "get": {
        "summary": "Get user accounts",
        "description": "Retrieves all accounts associated with the authenticated user",
        "tags": ["Dashboard"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "cmcvhzuqq03a3jp0ngx86i7ce"
                          },
                          "name": {
                            "type": "string",
                            "example": "Hashira"
                          },
                          "admins": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "cmcvhzuqq03a4jp0nh1tq1050"
                                },
                                "created_at": {
                                  "type": "integer",
                                  "example": 1752037675
                                },
                                "role": {
                                  "type": "string",
                                  "example": "admin"
                                },
                                "user": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "example": "did:catalog:cmcvh61po02lul70mgjj4kq21"
                                    },
                                    "created_at": {
                                      "type": "integer",
                                      "example": 1752036285
                                    },
                                    "linked_accounts": {
                                      "type": "array",
                                      "items": {
                                        "type": "object",
                                        "properties": {
                                          "type": {
                                            "type": "string",
                                            "example": "email"
                                          },
                                          "address": {
                                            "type": "string",
                                            "example": "user@example.com"
                                          },
                                          "verified_at": {
                                            "type": "integer",
                                            "example": 1752036285
                                          },
                                          "first_verified_at": {
                                            "type": "integer",
                                            "example": 1752036285
                                          },
                                          "latest_verified_at": {
                                            "type": "integer",
                                            "example": 1753421515
                                          }
                                        }
                                      }
                                    },
                                    "mfa_methods": {
                                      "type": "array",
                                      "items": {
                                        "type": "object"
                                      }
                                    },
                                    "has_accepted_terms": {
                                      "type": "boolean",
                                      "example": true
                                    },
                                    "is_guest": {
                                      "type": "boolean",
                                      "example": false
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "invitedAdmins": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "customJwtAccountEnabled": {
                            "type": "boolean",
                            "example": false
                          },
                          "fiatOnRampEnabled": {
                            "type": "boolean",
                            "example": false
                          },
                          "transactionMfaControlsEnabled": {
                            "type": "boolean",
                            "example": true
                          },
                          "expoSDKEnabled": {
                            "type": "boolean",
                            "example": false
                          },
                          "delegatedActionsEnabled": {
                            "type": "boolean",
                            "example": false
                          },
                          "walletApiEnabled": {
                            "type": "boolean",
                            "example": true
                          },
                          "telegramAuthEnabled": {
                            "type": "boolean",
                            "example": true
                          },
                          "webhooksEnabled": {
                            "type": "boolean",
                            "example": false
                          },
                          "twilioAccountType": {
                            "type": "string",
                            "example": "basic"
                          },
                          "apps": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "example": "cmdgxr3b100sfjx0lejx6wldn"
                                },
                                "created_at": {
                                  "type": "integer",
                                  "example": 1753333930
                                },
                                "updated_at": {
                                  "type": "integer",
                                  "example": 1753333930
                                },
                                "name": {
                                  "type": "string",
                                  "example": "Hashira"
                                },
                                "logo_url": {
                                  "type": "string",
                                  "nullable": true,
                                  "example": null
                                },
                                "env": {
                                  "type": "string",
                                  "example": "dev"
                                },
                                "usersCount": {
                                  "type": "integer",
                                  "example": -1
                                },
                                "development_apps": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "production_app": {
                                  "type": "object",
                                  "nullable": true,
                                  "example": null
                                }
                              }
                            }
                          },
                          "created_at": {
                            "type": "integer",
                            "example": 1752037675
                          },
                          "updated_at": {
                            "type": "integer",
                            "example": 1752037675
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/accounts/{accountId}/billing": {
      "get": {
        "summary": "Get account billing information",
        "description": "Retrieves billing information for a specific account",
        "tags": ["Dashboard"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID",
            "example": "cmcvhzuqq03a3jp0ngx86i7ce"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "type": "string",
                      "example": "free"
                    },
                    "tierName": {
                      "type": "string",
                      "example": "Free"
                    },
                    "monthlyActiveUsers": {
                      "type": "integer",
                      "example": 0
                    },
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "maxMonthlyActiveUsers": {
                      "type": "integer",
                      "example": 1000
                    },
                    "priceCents": {
                      "type": "integer",
                      "example": 0
                    },
                    "nextTier": {
                      "type": "object",
                      "properties": {
                        "tier": {
                          "type": "string",
                          "example": "dev"
                        },
                        "tierName": {
                          "type": "string",
                          "example": "Core"
                        },
                        "priceCents": {
                          "type": "integer",
                          "example": 19900
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Account not found"
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/accounts/admins": {
      "get": {
        "summary": "Get admin information",
        "description": "Retrieves admin information for the authenticated user",
        "tags": ["Dashboard"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "example": "user@example.com"
                    },
                    "can_leave": {
                      "type": "boolean",
                      "example": false
                    },
                    "cannot_leave_reason": {
                      "type": "string",
                      "example": "active_apps"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          }
        },
        "parameters": [],
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/accounts/{accountId}/apps": {
      "post": {
        "summary": "Create a new app",
        "description": "Creates a new application within the specified account",
        "tags": ["Dashboard"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID",
            "example": "cmcvhzuqq03a3jp0ngx86i7ce"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name of the application",
                    "example": "New App"
                  },
                  "createWebClient": {
                    "type": "boolean",
                    "description": "Whether to create a web client",
                    "example": true
                  },
                  "createMobileClient": {
                    "type": "boolean",
                    "description": "Whether to create a mobile client",
                    "example": true
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "app": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "cmdie6l1300x2l70jd4hu8f3o"
                        },
                        "name": {
                          "type": "string",
                          "example": "New App"
                        },
                        "logo_url": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "icon_url": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "terms_and_conditions_url": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "privacy_policy_url": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "require_users_accept_terms": {
                          "type": "boolean",
                          "nullable": true,
                          "example": null
                        },
                        "theme": {
                          "type": "string",
                          "example": "System"
                        },
                        "accent_color": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "show_wallet_login_first": {
                          "type": "boolean",
                          "example": false
                        },
                        "allowed_domains": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        },
                        "allowed_native_app_ids": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        },
                        "allowed_native_app_url_schemes": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": []
                        },
                        "wallet_auth": {
                          "type": "boolean",
                          "example": true
                        },
                        "email_auth": {
                          "type": "boolean",
                          "example": true
                        },
                        "sms_auth": {
                          "type": "boolean",
                          "example": false
                        },
                        "guest_auth": {
                          "type": "boolean",
                          "example": false
                        },
                        "solana_wallet_auth": {
                          "type": "boolean",
                          "example": false
                        },
                        "telegram_auth": {
                          "type": "boolean",
                          "example": false
                        },
                        "disable_plus_emails": {
                          "type": "boolean",
                          "example": false
                        },
                        "google_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "twitter_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "discord_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "github_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "tiktok_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "line_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "linkedin_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "apple_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "spotify_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "instagram_oauth": {
                          "type": "boolean",
                          "example": false
                        },
                        "farcaster_auth": {
                          "type": "boolean",
                          "example": false
                        },
                        "passkey_auth": {
                          "type": "boolean",
                          "example": false
                        },
                        "passkeys_for_signup_enabled": {
                          "type": "boolean",
                          "example": false
                        },
                        "custom_jwt_auth": {
                          "type": "boolean",
                          "example": false
                        },
                        "allowlist_enabled": {
                          "type": "boolean",
                          "example": false
                        },
                        "allowlist_config": {
                          "type": "object",
                          "properties": {
                            "error_title": {
                              "type": "string",
                              "nullable": true,
                              "example": null
                            },
                            "error_detail": {
                              "type": "string",
                              "nullable": true,
                              "example": null
                            },
                            "cta_text": {
                              "type": "string",
                              "nullable": true,
                              "example": null
                            },
                            "cta_link": {
                              "type": "string",
                              "nullable": true,
                              "example": null
                            }
                          }
                        },
                        "wallet_connect_cloud_project_id": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "custom_api_url": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "embedded_wallet_config": {
                          "type": "object",
                          "properties": {
                            "create_on_login": {
                              "type": "string",
                              "example": "off"
                            },
                            "ethereum": {
                              "type": "object",
                              "properties": {
                                "create_on_login": {
                                  "type": "string",
                                  "example": "off"
                                }
                              }
                            },
                            "solana": {
                              "type": "object",
                              "properties": {
                                "create_on_login": {
                                  "type": "string",
                                  "example": "off"
                                }
                              }
                            },
                            "user_owned_recovery_options": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "example": ["user-passcode"]
                            },
                            "require_user_password_on_create": {
                              "type": "boolean",
                              "example": false
                            },
                            "require_user_owned_recovery_on_create": {
                              "type": "boolean",
                              "example": false
                            },
                            "mode": {
                              "type": "string",
                              "example": "user-controlled-server-wallets-only"
                            }
                          }
                        },
                        "enforce_wallet_uis": {
                          "type": "boolean",
                          "example": true
                        },
                        "legacy_wallet_ui_config": {
                          "type": "boolean",
                          "example": false
                        },
                        "fiat_on_ramp_enabled": {
                          "type": "boolean",
                          "example": false
                        },
                        "captcha_enabled": {
                          "type": "boolean",
                          "example": false
                        },
                        "twitter_oauth_on_mobile_enabled": {
                          "type": "boolean",
                          "example": true
                        },
                        "mfa_methods": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "example": []
                        },
                        "captcha_site_key": {
                          "type": "string",
                          "example": "t:0x4AAAAAAAM8ceq5KhP1uJBt"
                        },
                        "verification_key": {
                          "type": "string",
                          "example": "-----BEGIN PUBLIC KEY-----MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE9OHr4bSwsbVjJXURir4kSU1tDSFGkW5LEgwUM6gcE6y1K5+yeCdzxlitEU5RaIs075VhYDsAz9kbTdw8ROj+qQ==-----END PUBLIC KEY-----"
                        },
                        "max_linked_wallets_per_user": {
                          "type": "integer",
                          "nullable": true,
                          "example": null
                        },
                        "farcaster_link_wallets_enabled": {
                          "type": "boolean",
                          "example": false
                        },
                        "whatsapp_enabled": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    },
                    "secret": {
                      "type": "string",
                      "description": "App secret key for API authentication",
                      "example": "4qsyqhhZVmpA3HTCoHMuBx9MpcEyZHApiAihCipZ6VFep61typyiStKC6MbAPSVoh9bJh2CPsGQybGmMGGRFdzgH"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Invalid app name"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Account not found"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Too many app creation requests. Please try again later."
                    },
                    "retry_after": {
                      "type": "integer",
                      "description": "Number of seconds to wait before retrying",
                      "example": 60
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api.catalog.fi"
          }
        ]
      }
    },
    "/v1/apps/{appId}": {
      "get": {
        "summary": "Get app details",
        "description": "Retrieves comprehensive details about a specific app",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "privy-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of your Privy app",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Privy client identifier for dashboard requests",
            "example": "privy-dashboard:1.0.0"
          }
        ],
        "responses": {
          "200": {
            "description": "App details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "cmdie6l1300x2l70jd4hu8f3o"
                    },
                    "name": {
                      "type": "string",
                      "example": "New App"
                    },
                    "logo_url": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "icon_url": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "terms_and_conditions_url": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "privacy_policy_url": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "require_users_accept_terms": {
                      "type": "boolean",
                      "nullable": true,
                      "example": null
                    },
                    "theme": {
                      "type": "string",
                      "example": "System"
                    },
                    "accent_color": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "show_wallet_login_first": {
                      "type": "boolean",
                      "example": false
                    },
                    "allowed_domains": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "allowed_native_app_ids": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "allowed_native_app_url_schemes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "wallet_auth": {
                      "type": "boolean",
                      "example": true
                    },
                    "email_auth": {
                      "type": "boolean",
                      "example": true
                    },
                    "sms_auth": {
                      "type": "boolean",
                      "example": false
                    },
                    "guest_auth": {
                      "type": "boolean",
                      "example": false
                    },
                    "solana_wallet_auth": {
                      "type": "boolean",
                      "example": false
                    },
                    "telegram_auth": {
                      "type": "boolean",
                      "example": false
                    },
                    "disable_plus_emails": {
                      "type": "boolean",
                      "example": false
                    },
                    "google_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "twitter_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "discord_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "github_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "tiktok_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "line_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "linkedin_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "apple_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "spotify_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "instagram_oauth": {
                      "type": "boolean",
                      "example": false
                    },
                    "farcaster_auth": {
                      "type": "boolean",
                      "example": false
                    },
                    "passkey_auth": {
                      "type": "boolean",
                      "example": false
                    },
                    "passkeys_for_signup_enabled": {
                      "type": "boolean",
                      "example": false
                    },
                    "custom_jwt_auth": {
                      "type": "boolean",
                      "example": false
                    },
                    "allowlist_enabled": {
                      "type": "boolean",
                      "example": false
                    },
                    "denylist_enabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "allowlist_config": {
                      "type": "object",
                      "properties": {
                        "error_title": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "error_detail": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "cta_text": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "cta_link": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        }
                      }
                    },
                    "wallet_connect_cloud_project_id": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "custom_api_url": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "embedded_wallet_config": {
                      "type": "object",
                      "properties": {
                        "create_on_login": {
                          "type": "string",
                          "example": "off"
                        },
                        "ethereum": {
                          "type": "object",
                          "properties": {
                            "create_on_login": {
                              "type": "string",
                              "example": "off"
                            }
                          }
                        },
                        "solana": {
                          "type": "object",
                          "properties": {
                            "create_on_login": {
                              "type": "string",
                              "example": "off"
                            }
                          }
                        },
                        "user_owned_recovery_options": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": ["user-passcode"]
                        },
                        "require_user_password_on_create": {
                          "type": "boolean",
                          "example": false
                        },
                        "require_user_owned_recovery_on_create": {
                          "type": "boolean",
                          "example": false
                        },
                        "mode": {
                          "type": "string",
                          "example": "user-controlled-server-wallets-only"
                        }
                      }
                    },
                    "enforce_wallet_uis": {
                      "type": "boolean",
                      "example": true
                    },
                    "legacy_wallet_ui_config": {
                      "type": "boolean",
                      "example": false
                    },
                    "fiat_on_ramp_enabled": {
                      "type": "boolean",
                      "example": false
                    },
                    "captcha_enabled": {
                      "type": "boolean",
                      "example": false
                    },
                    "twitter_oauth_on_mobile_enabled": {
                      "type": "boolean",
                      "example": true
                    },
                    "mfa_methods": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "example": []
                    },
                    "captcha_site_key": {
                      "type": "string",
                      "example": "t:0x4AAAAAAAM8ceq5KhP1uJBt"
                    },
                    "verification_key": {
                      "type": "string",
                      "example": "-----BEGIN PUBLIC KEY-----MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEVXWbV7omwNp/wo9m8ZoCe494Th2dg38DOoujFf7FqX7SbRg2NZz3HncEG1K58znFnqexsRQDMRnvotXRPggJog==-----END PUBLIC KEY-----"
                    },
                    "funding_config": {
                      "type": "object",
                      "properties": {
                        "default_recommended_currency": {
                          "type": "object",
                          "properties": {
                            "chain": {
                              "type": "string",
                              "example": "eip155:1"
                            },
                            "asset": {
                              "type": "string",
                              "example": "native-currency"
                            }
                          }
                        },
                        "default_recommended_amount": {
                          "type": "string",
                          "example": "0.0001"
                        },
                        "methods": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "example": ["coinbase-onramp"]
                        },
                        "options": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "method": {
                                "type": "string",
                                "example": "exchange"
                              },
                              "provider": {
                                "type": "string",
                                "example": "coinbase"
                              }
                            }
                          }
                        },
                        "prompt_funding_on_wallet_creation": {
                          "type": "boolean",
                          "example": false
                        },
                        "cross_chain_bridging_enabled": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    },
                    "max_linked_wallets_per_user": {
                      "type": "integer",
                      "nullable": true,
                      "example": null
                    },
                    "farcaster_link_wallets_enabled": {
                      "type": "boolean",
                      "example": false
                    },
                    "whatsapp_enabled": {
                      "type": "boolean",
                      "example": false
                    },
                    "created_at": {
                      "type": "integer",
                      "example": 1753421993
                    },
                    "updated_at": {
                      "type": "integer",
                      "example": 1753421993
                    },
                    "env": {
                      "type": "string",
                      "example": "dev"
                    },
                    "usersCount": {
                      "type": "integer",
                      "example": -1
                    },
                    "development_apps": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "example": []
                    },
                    "production_app": {
                      "type": "object",
                      "nullable": true,
                      "example": null
                    },
                    "cookie_auth_enabled": {
                      "type": "boolean",
                      "example": false
                    },
                    "cookie_domain": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "cookie_same_site_lax": {
                      "type": "boolean",
                      "example": false
                    },
                    "has_updated_login_methods": {
                      "type": "boolean",
                      "example": false
                    },
                    "login_methods_requested": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "allowed_android_signing_key_hashes": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "return_identity_tokens": {
                      "type": "boolean",
                      "example": false
                    },
                    "session_timeout_minutes": {
                      "type": "integer",
                      "nullable": true,
                      "example": null
                    },
                    "session_inactivity_window_minutes": {
                      "type": "integer",
                      "nullable": true,
                      "example": null
                    },
                    "access_token_lifetime_minutes": {
                      "type": "integer",
                      "nullable": true,
                      "example": null
                    },
                    "id_token_lifetime_minutes": {
                      "type": "integer",
                      "nullable": true,
                      "example": null
                    },
                    "account_transfer_enabled": {
                      "type": "boolean",
                      "nullable": true,
                      "example": null
                    },
                    "allowed_oauth_redirect_urls": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": []
                    },
                    "delegated_actions_enabled": {
                      "type": "boolean",
                      "example": false
                    },
                    "transaction_scanning_enabled": {
                      "type": "boolean",
                      "example": false
                    },
                    "native_onramp_provider_configs": {
                      "type": "object",
                      "example": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Unauthorized"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Access denied"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "App not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Could not find app fasdfasdfasdfsf."
                    },
                    "code": {
                      "type": "string",
                      "example": "missing_or_invalid_catalog_app_id"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update app configuration - Used across multiple screens: app/configuration/settings (general, domains, client, advanced), app/configuration/branding, app/configuration/terms&privacy, app/authentication (basics)",
        "description": "Comprehensive app configuration endpoint used across multiple dashboard screens. Updates branding (name, logo, theme, accent color), privacy settings (terms & conditions URL, privacy policy URL, terms acceptance), authentication methods (wallet, email, SMS, passkey, etc.), domain restrictions, client settings, and advanced features (Android signing keys, captcha, allowlist, OAuth redirect URLs, embedded wallet config, funding config). Related to app/configuration/settings (general, domains, client, advanced), app/configuration/branding, app/configuration/terms&privacy, app/authentication (basics)",
        "tags": ["Apps"],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "appId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "App ID",
            "example": "cmcx1p0y50315i80ldhmlcnmm"
          },
          {
            "name": "privy-app-id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of your Privy app",
            "example": "cla04x0d00002nyb6oofp5dqh"
          },
          {
            "name": "privy-client",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Privy client identifier for dashboard requests",
            "example": "privy-dashboard:1.0.0"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "allowed_android_signing_key_hashes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed Android signing key hashes for the app (Used in: app/configuration/settings/advanced)",
                    "example": []
                  },
                  "terms_and_conditions_url": {
                    "type": "string",
                    "description": "URL for terms and conditions (Used in: app/configuration/terms&privacy)",
                    "example": "https://hashira.io/terms-and-conditions"
                  },
                  "privacy_policy_url": {
                    "type": "string",
                    "description": "URL for privacy policy (Used in: app/configuration/terms&privacy)",
                    "example": "https://hashira.io/privacy-policy"
                  },
                  "require_users_accept_terms": {
                    "type": "boolean",
                    "description": "Whether users are required to accept terms and conditions (Used in: app/configuration/terms&privacy)",
                    "example": true
                  },
                  "name": {
                    "type": "string",
                    "description": "App name (Used in: app/configuration/branding, app/configuration/settings/general)",
                    "example": "CatalogFi"
                  },
                  "logo_url": {
                    "type": "string",
                    "nullable": true,
                    "description": "App logo URL (Used in: app/configuration/branding)",
                    "example": null
                  },
                  "icon_url": {
                    "type": "string",
                    "nullable": true,
                    "description": "App icon URL (Used in: app/configuration/branding)",
                    "example": null
                  },
                  "theme": {
                    "type": "string",
                    "description": "App theme (Used in: app/configuration/branding)",
                    "example": "System"
                  },
                  "accent_color": {
                    "type": "string",
                    "description": "App accent color (Used in: app/configuration/branding)",
                    "example": "#5CFFD5"
                  },
                  "show_wallet_login_first": {
                    "type": "boolean",
                    "description": "Whether to show wallet login first (Used in: app/configuration/settings/general)",
                    "example": true
                  },
                  "allowed_domains": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of allowed domains for the app (Used in: app/configuration/settings/domains)",
                    "example": ["https://catalog.fi", "https://hashira.io"]
                  },
                  "allowed_oauth_redirect_urls": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Allowed OAuth redirect URLs for the app (Used in: app/configuration/settings/advanced)",
                    "example": ["https://hashira.io/redirect"]
                  },
                  "wallet_auth": {
                    "type": "boolean",
                    "description": "Whether wallet authentication is enabled (Used in: app/configuration/settings/general)",
                    "example": true
                  },
                  "email_auth": {
                    "type": "boolean",
                    "description": "Whether email authentication is enabled (Used in: app/configuration/settings/general)",
                    "example": true
                  },
                  "sms_auth": {
                    "type": "boolean",
                    "description": "Whether SMS authentication is enabled (Used in: app/configuration/settings/general)",
                    "example": false
                  },
                  "guest_auth": {
                    "type": "boolean",
                    "description": "Whether guest authentication is enabled (Used in: app/configuration/settings/general)",
                    "example": false
                  },
                  "solana_wallet_auth": {
                    "type": "boolean",
                    "description": "Whether Solana wallet authentication is enabled (Used in: app/configuration/settings/general)",
                    "example": true
                  },
                  "telegram_auth": {
                    "type": "boolean",
                    "description": "Whether Telegram authentication is enabled (Used in: app/configuration/settings/general)",
                    "example": false
                  },
                  "passkey_auth": {
                    "type": "boolean",
                    "description": "Whether passkey authentication is enabled (Used in: app/configuration/settings/general)",
                    "example": true
                  },
                  "allowlist_enabled": {
                    "type": "boolean",
                    "description": "Whether allowlist is enabled (Used in: app/configuration/settings/advanced)",
                    "example": true
                  },
                  "captcha_enabled": {
                    "type": "boolean",
                    "description": "Whether captcha is enabled (Used in: app/configuration/settings/advanced)",
                    "example": false
                  },
                  "max_linked_wallets_per_user": {
                    "type": "integer",
                    "description": "Maximum number of linked wallets per user (Used in: app/configuration/settings/advanced)",
                    "example": 20
                  },
                  "farcaster_link_wallets_enabled": {
                    "type": "boolean",
                    "description": "Whether Farcaster link wallets is enabled (Used in: app/configuration/settings/advanced)",
                    "example": false
                  },
                  "whatsapp_enabled": {
                    "type": "boolean",
                    "description": "Whether WhatsApp integration is enabled (Used in: app/configuration/settings/advanced)",
                    "example": false
                  },
                  "allowlist_config": {
                    "type": "object",
                    "properties": {
                      "error_title": {
                        "type": "string",
                        "nullable": true,
                        "description": "Error title for allowlist (Used in: app/configuration/settings/advanced)",
                        "example": null
                      },
                      "error_detail": {
                        "type": "string",
                        "nullable": true,
                        "description": "Error detail for allowlist (Used in: app/configuration/settings/advanced)",
                        "example": null
                      },
                      "cta_text": {
                        "type": "string",
                        "nullable": true,
                        "description": "Call to action text for allowlist (Used in: app/configuration/settings/advanced)",
                        "example": null
                      },
                      "cta_link": {
                        "type": "string",
                        "nullable": true,
                        "description": "Call to action link for allowlist (Used in: app/configuration/settings/advanced)",
                        "example": null
                      }
                    }
                  },
                  "embedded_wallet_config": {
                    "type": "object",
                    "properties": {
                      "create_on_login": {
                        "type": "string",
                        "description": "When to create embedded wallets (Used in: app/configuration/settings/advanced)",
                        "example": "users-without-wallets"
                      },
                      "ethereum": {
                        "type": "object",
                        "properties": {
                          "create_on_login": {
                            "type": "string",
                            "description": "When to create Ethereum wallets (Used in: app/configuration/settings/advanced)",
                            "example": "users-without-wallets"
                          }
                        }
                      },
                      "solana": {
                        "type": "object",
                        "properties": {
                          "create_on_login": {
                            "type": "string",
                            "description": "When to create Solana wallets (Used in: app/configuration/settings/advanced)",
                            "example": "off"
                          }
                        }
                      },
                      "user_owned_recovery_options": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "User owned recovery options (Used in: app/configuration/settings/advanced)",
                        "example": ["user-passcode"]
                      },
                      "require_user_password_on_create": {
                        "type": "boolean",
                        "description": "Whether to require user password on wallet creation (Used in: app/configuration/settings/advanced)",
                        "example": false
                      },
                      "require_user_owned_recovery_on_create": {
                        "type": "boolean",
                        "description": "Whether to require user owned recovery on wallet creation (Used in: app/configuration/settings/advanced)",
                        "example": false
                      },
                      "mode": {
                        "type": "string",
                        "description": "Embedded wallet mode (Used in: app/configuration/settings/advanced)",
                        "example": "user-controlled-server-wallets-only"
                      }
                    }
                  },
                  "funding_config": {
                    "type": "object",
                    "properties": {
                      "default_recommended_currency": {
                        "type": "object",
                        "properties": {
                          "chain": {
                            "type": "string",
                            "description": "Default chain for funding (Used in: app/configuration/settings/advanced)",
                            "example": "eip155:1"
                          },
                          "asset": {
                            "type": "string",
                            "description": "Default asset for funding (Used in: app/configuration/settings/advanced)",
                            "example": "native-currency"
                          }
                        }
                      },
                      "default_recommended_amount": {
                        "type": "string",
                        "description": "Default recommended funding amount (Used in: app/configuration/settings/advanced)",
                        "example": "0.0001"
                      },
                      "methods": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
[...]
